@import url('https://fonts.googleapis.com/css2?family=Charm&family=Dancing+Script&family=Montserrat:wght@300&family=Noto+Serif:ital@0;1&family=Roboto:wght@500&display=swap');
*{
    padding:0;
    margin:0;
}
.container{
    background-image: url(https://cdn.xxl.thumbs.canstockphoto.com/white-cup-of-coffee-top-view-morning-coffee-coffee-cup-stock-photo_csp36840045.jpg);
    width:100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items:baseline;
    opacity: 0.9;
    
}
.log,.link{
    margin:30px;
}
nav a{
   padding:25px;
   text-decoration: none;
   font-size: 25px;
   color:#fff;
   font-family: sans-serif;
   position: relative;
}
.log{
    font-family: 'Dancing Script', cursive;
    font-size:30px;
    color:orange;
}
.content{
    margin:30px;
    position: absolute;
    top:200px;
    padding:30px;
    width: 690px;
}
.content h1,h5{
    color:#fff ;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    font-size: 40px;
    padding:20px 5px 10px;
}
.content h5,p{
    font-family: sans-serif;
}
button{
    padding:15px 80px;
    background-color:transparent;
    color: #fff;
    border-radius: 30px;
    border:2px solid #222;
    font-size: 20px;
    margin:20px 0px 0px 0px;
    margin-left: 18px;
    font-weight:bolder;
}
button:hover{
    color:#fff;
    background-color:orange;
    border:none;
}
span{
    color: orange;
}
.content p{
    font-size: 15px;
    padding: 20px;
    color: #fff;
    line-height: 28px;
}
nav a::before,
nav a::after{
    height:20px;
    width:20px;
    position:absolute;
    transition:all .35s ease;
    opacity:0;
}
nav a::before{
    content:'';
    top:0;
    right:0;
    border-top:7px solid orange;
    border-right:7px solid orange;
    transform:translate(-100%, 50%);
}
nav a::after{
    content:'';
    left:0;
    bottom:0;
    border-bottom:7px solid orange;
    border-left:7px solid orange;
    transform:translate(100%, -50%);

}
nav a:hover:before,
nav a:hover:after{
    transform:translate(0,0);
    opacity:1;
}
nav a:hover{
    color:orange;
}
.events{
    background-color: aliceblue;
    position: relative;
}
.event_image{
    background-image: url(https://static.wixstatic.com/media/7e30d0_aa75d27df0094fa699d9f9fc7c1d62fb~mv2.jpg/v1/fill/w_640,h_400,al_b,q_80,usm_0.66_1.00_0.01,enc_auto/7e30d0_aa75d27df0094fa699d9f9fc7c1d62fb~mv2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    text-align: center;
    color:#fff;
    
}
.event_image h1{
    font-size: 50px;
    padding: 30px;
    margin: 10px;
    font-family: serif;
    color: black;
}
.event_image h2,p{
    padding: 15px;
    font-family: sans-serif;
}
.event_image button{
    background-color: orange;
    border: none;
  margin-top:30px;
}
.txt{
    margin-left: 300px;
    width:900px;
    height:300px;
}
img{
    width:100%;
    height:auto;
    transition: all 3s ease-in-out;
    
}
.main > .card > .image >img{
    height: 100%;
    width:100%;
}
.card{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(470px,1fr));
    grid-gap: 60px;
    margin-left: 50px;
}
.image{
    margin-top:40px;
    z-index: 1;
}
img:hover{
    transform: scale(1.3);
    border-radius: 70px;
}
.main{
    background-color:#FFF6DC;
    padding: 40px;
}
.circle{
    width:300px;
    height: 300px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top:900px;
    left:670px;
    opacity: .7;
    text-align: center;
    z-index: 2;
}
.circle h1{
    margin-top: 140px;
    font-size: 30px;
    color:#fff ;
}

.container1{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(350px,1fr));
object-fit:cover;
grid-gap:50px;
margin:40px;
margin-left:100px;
position:absolute;

}
.image1 > img{
max-width:100%;
height:auto;
vertical-align:middle;
display:inline-block;
border-radius:40px;
}
.container1 > figure > img{
width:100%;
height:100%;
object-fit:cover;
}
.container1 .image1:nth-child(5){
grid-column-start:1;
grid-row-start:2;
grid-column-end:span 2;
grid-row-end:span 3;
}
.container1 .image1:nth-child(3){
grid-row-start:4;
grid-column-end:4;
}
.container1 .image1:nth-child(4){
grid-row-start:1;
grid-row-end:span 3;
grid-column-start:3;
}
.sidebar{
width:250px;
height:1050px;
background-color:orangered;
float:left;
border-radius:50px;
position:relative;
top:-30px;
margin-left:30px;
}
.text{
margin:80px;
margin-left:450px;
font-family:sans-serif;
font-size:20px;
padding:20px; 
background-color: #FFA41B;
border-radius: 40px;
}
.text h1{
padding:30px;
font-size: 60px;
color: #fff;
}
.text p{
font-size:16px;
line-height:28px;
padding:30px 0px 20px;
}
.text h5{
padding:20px 0px;
}
.btn{
padding:20px 80px;
margin-top:20px;
border-radius:40px;
border:none;
background-color:orangered;
font-size:22px;
color:#fff;
}
.btn:hover{
background-color:#fff;
color: orange;
box-shadow:10px 10px 100px orange;
}






/*  menu section */


.menu-container{
    margin: 0;
    padding-top: 1040px;

}




.menu-items{
    border-radius: 50%;
    /* display: flex; */
    padding: 20px;
     column-count: 4; 
    
    margin:10px;

 }
 .menu-items img{
    height: 200px;
    width: 250px;
 }
 .menu-items{
    /* display: flex; */
    border-radius: 50%;
    align-items: center;

 } 
 p{
    /* text-align: justify; */
    /* align-items: center; */
    align-content: space-around;
 }
 #food{
    text-align: center;
    background-color: rgb(45, 47, 55);
    color: azure;
    font-size: 40px;
    bottom: 10px;
 }
 #r{
   font-weight: bold;
   color: rgb(195, 13, 49);
    
 }
 .menu-item img{
border-radius: 20%;

transition: all 2s;


 }
 .menu-item img:hover{

transform: scale(1.3,1.3)


 }
 div p{

text-transform: capitalize;
font-size: 20px;


 }
 div h3{

font-size: x-large;
text-transform: uppercase;
color: crimson;


 }



 /* about section */







 .heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    background-color: orange;
    
}

.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: orangered;
}
.heading p{
    font-size: 18px;
    color: #222;;
    margin-bottom: 35px;
}

.containermenu{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}
.about1-pic{
    flex: 1;
    margin-right: 50px;

    border-radius: 10px;
}
.about1-pic img {
    padding-left: 30px;
    width: 500px;
    height: 300px;
    display: block;
    border-radius: 20px;
   
}

.about1-pic:hover img{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
.about1-pic2{            /*start */
padding-top: 10px;
flex: 1;
margin-right: 50px;
/* overflow: hidden; */
border-radius: 20px;
}


.about1-pic2 img {
    width: 500px;
    height: 300px;
    display: block;
    border-radius: 20px;
    
}

.about1-pic2 img {
    padding-left: 50px;
    width: 500px;
    height: 300px;
    display: block;
    transition: 0.5s ease;
}

.about1-pic2:hover img{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
 }
  /* end */


.about1-content{
    flex: 1;
}

.about1-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about1-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about1-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: orangered;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about1-content .read-more:hover{
    background-color: #4caf50;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

/*hero*/
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.hero_image img{
    border-radius: 30px;
}

.hero_content{
    display: flex;
    flex-direction: column;
}

.tag{
    background-color: orangered;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

.hero_content h1 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}
.explore_btn{
    background-color: orangered;
    color: #fff;
    font-size: 19px;
    border-radius: 30px;
    padding:10px 20px;
    margin-top: 20px;
    align-self: flex-start;
    font-weight: 300;
}

.features img{
   width: 70px;
   height: 70px;
}
.features{
   
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;

}

.feature{
    background-color: palevioletred;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.feature:hover{
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
}
.s1{
    background-color: #149f39;
}
.s2{
    background-color: pink;
}
.s3{
    background-color: skyblue;
}



